export ENV=LOCAL 
export LOCAL_DATABASE_POSTGRES_URI=postgres://postgres:mysecretpassword@localhost:5432/hongjot?sslmode=disable
export LOCAL_SERVER_PORT=8080

# Features Flags
export LOCAL_ENABLE_CREATE_SPENDER=true
export LOCAL_ENABLE_CREATE_TRANSACTION=true